{{!-- {{Create a watch for the database}} --}}
{{!-- {{Create input fields for every attribute for the watch}} --}}
{{!-- {{Using by Handlebars (.hbs)}} --}}
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.brand}}" placeholder="Brand" name="brand">
        <label for="floatingInput">Brand</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.family}}" placeholder="Family" name="family">
        <label for="floatingInput">Family</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
        <label for="floatingInput">Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.reference}}" placeholder="Reference" name="reference">
        <label for="floatingInput">Reference</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.glass}}" placeholder="Glass" name="glass">
        <label for="floatingInput">Glass</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.dialcolor}}" placeholder="Dialcolor" name="dialcolor">
        <label for="floatingInput">Dialcolor</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.diameter}}" placeholder="Diameter" name="diameter">
        <label for="floatingInput">Diameter</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.lugwidth}}" placeholder="Lugwidth" name="lugwidth">
        <label for="floatingInput">Lugwidth</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.material}}" placeholder="Material" name="material">
        <label for="floatingInput">Material</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.wr}}" placeholder="Wr" name="wr">
        <label for="floatingInput">Wr</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.strap}}" placeholder="Strap" name="strap">
        <label for="floatingInput">Strap</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.back}}" placeholder="Back" name="back">
        <label for="floatingInput">Back</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.type}}" placeholder="Type" name="type">
        <label for="floatingInput">Type</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.year}}" placeholder="Year" name="year">
        <label for="floatingInput">Year</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.msrp}}" placeholder="Msrp" name="msrp">
        <label for="floatingInput">Msrp</label>
    </div>
</div>


<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.movement}}" placeholder="Movement" name="movement">
        <label for="floatingInput">Movement</label>
    </div>
</div>

<div class="col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.functions}}" placeholder="Functions" name="functions">
        <label for="floatingInput">Functions</label>
    </div>
</div>
{{!-- {{Submit form data to database}} --}}
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>