<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.brand}}" placeholder="Brand" name="brand">
        <label for="floatingInput">Brand</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.family}}" placeholder="Family" name="family">
        <label for="floatingInput">Family</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
        <label for="floatingInput">Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.glass}}" placeholder="Glass" name="glass">
        <label for="floatingInput">Glass</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="functions" name="functions" style="height: 200px;">{{this.functions}}</textarea>
        <label for="floatingInput">Functions</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>